<nz-page-header *ngIf="gameTemplate" class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="{{ gameTemplate.title }}" nzSubtitle="Редактирование шаблона"></nz-page-header>
<nz-divider nzText="Основные данные"></nz-divider>
<div nz-row nzAlign="middle">
  <div nz-col [nzSm]="24" [nzMd]="24" [nzLg]="10" [nzXl]="10" [nzXXl]="10" *ngIf="gameTemplate">
    <div nz-row nzAlign="middle" class="mb-20px">
      <div nz-col nzSpan="20">
        <nz-input-group [nzAddOnBefore]="'Название'" [nzSuffix]="applyNameChange">
          <input type="text" nz-input placeholder="Название шаблона игры" [(ngModel)]="gameTemplateTitle" >
        </nz-input-group>
        <ng-template #applyNameChange>
          <button nz-button nzType="primary" [nzSize]="'small'"
                  *ngIf="gameTemplateTitle !== gameTemplate.title"
                  (click)="updateTemplateTitle()"
          ><i nz-icon nzType="check" nzTheme="outline"></i>Сохранить</button>
        </ng-template>
      </div>
    </div>
    <div nz-row nzAlign="middle" class="mb-20px">
      <div nz-col nzSpan="20">
        <nz-input-group [nzAddOnBefore]="'Код'" [nzSuffix]="applyCodeChange">
          <input type="text" nz-input placeholder="Название код шаблона (например: TLEG)" [(ngModel)]="gameTemplateCode">
        </nz-input-group>
        <ng-template #applyCodeChange>
          <button nz-button nzType="primary" [nzSize]="'small'"
                  *ngIf="gameTemplateCode !== gameTemplate.code"
                  (click)="updateTemplateCode()"
          ><i nz-icon nzType="check" nzTheme="outline"></i>Сохранить</button>
        </ng-template>
      </div>
    </div>
    <div nz-row nzAlign="middle">
      <div nz-col nzSpan="20" *ngIf="gameType !== null">
        <label for="game-type-select" class="prepend-label">Тип шаблона</label>
        <nz-select [(ngModel)]="gameType"
                   [ngClass]="{
                                'game-type-select': gameTemplate.gameType.code === gameType.code,
                                'game-type-select-with-button': gameTemplate.gameType.code !== gameType.code
                              }"
                   [compareWith]="compareGameTypes"
                   id="game-type-select"
        >
          <nz-option
            *ngFor="let type of templateTypes"
            [nzValue]="type" [nzLabel]="type.title"></nz-option>
        </nz-select>
        <button nz-button nzType="primary" [nzSize]="'default'" class="save-gametype-btn"
                *ngIf="gameTemplate.gameType.code !== gameType.code"
                (click)="updateTemplateType()"
        ><i nz-icon nzType="check" nzTheme="outline"></i>Сохранить</button>
      </div>
    </div>
  </div>
  <div nz-col [nzSm]="24" [nzMd]="24" [nzLg]="6" [nzXl]="6" [nzXXl]="6" *ngIf="gameTemplate">
    <img *ngIf="gameTemplate.picture !== undefined"
         nz-image
         nzSrc="{{ gameTemplate.picture }}"
         [nzFallback]="fallback"
         class="template-picture"
    >
    <img
        *ngIf="gameTemplate === null"
        nz-image
        [nzFallback]="fallback"
        alt="template picture"
        class="template-picture"
    >
  </div>
  <div nz-col [nzSm]="24" [nzMd]="24" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
    <nz-upload
      nzType="drag"
      [nzMultiple]="false"
      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      (nzChange)="handleChange($event)"
    >
      <p class="ant-upload-drag-icon"><i nz-icon nzType="file-image" nzTheme="twotone"></i></p>
      <p class="ant-upload-text">Нажмите сюда или перетащите картинку на этот блок</p>
      <p class="ant-upload-hint">Для загрузки возможна только одна картина</p>
    </nz-upload>
  </div>
</div>
<nz-divider nzText="Содержательная часть"></nz-divider>
<nz-collapse nzGhost nzAccordion>
  <nz-collapse-panel [nzHeader]="'Карты'" [nzActive]="false">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-table #stageTable [nzData]="templateStages" [nzFrontPagination]="false">
          <thead>
          <tr>
            <th nzWidth="60px" nzAlign="center">#</th>
            <th nzWidth="100px" nzAlign="center">Код</th>
            <th nzWidth="400px">Название</th>
            <th nzWidth="200px">Карта</th>
            <th nzWidth="200px">Модуль уровня</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of stageTable.data; let i = index">
            <td nzAlign="center">{{ i+1 }}</td>
            <td nzAlign="center">{{ data.stageCode }}</td>
            <td>{{ data.stageTitle }}</td>
            <td>
              <img
                nz-image
                [nzSrc]="data.map.src"
                [nzFallback]="fallback"
                alt="template picture"
                class="template-picture"
              >
            </td>
            <td>{{ data.stageModule.code }} - {{ data.stageModule.title }}</td>
            <td class="ctrl-btns">
              <div nz-col>
                <button nz-button [nzSize]="'default'"><i nz-icon nzType="edit" nzTheme="outline"></i>&nbsp;Править</button>
              </div>
              <div nz-col>
                <button nz-button [nzSize]="'default'" nzDanger><i nz-icon nzType="folder-view" nzTheme="outline"></i>&nbsp;Удалить</button>
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-collapse-panel>
  <nz-collapse-panel [nzHeader]="'Вопросы'" [nzActive]="false">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-table #questionTable [nzData]="templateQuestions" [nzFrontPagination]="true">
          <thead>
          <tr>
            <th nzWidth="60px" nzAlign="center">#</th>
            <th nzWidth="60px" nzAlign="center">Включен</th>
            <th nzWidth="100px" nzAlign="center">Уровень</th>
            <th nzWidth="100px">Иконка</th>
            <th nzWidth="100px">Картинка вопроса</th>
            <th nzWidth="400px">Вопрос</th>
            <th nzWidth="200px">Варианты ответов</th>
            <th nzWidth="60px">Баллы</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of questionTable.data; let i = index">
            <td nzAlign="center">{{ i+1 }}</td>
            <td><nz-switch [(ngModel)]="data.available"></nz-switch></td>
            <td nzAlign="center">{{ data.code }}</td>
            <td>
              <img
                nz-image
                [nzSrc]="data.icon"
                [nzFallback]="fallback"
                alt="template picture"
                class="template-picture"
              >
            </td>
            <td>
              <img
                nz-image
                [nzSrc]="data.picture"
                [nzFallback]="fallback"
                alt="template picture"
                class="template-picture"
              >
            </td>
            <td [innerHTML]="data.question | safeHtml"></td>
            <td>
              <div *ngFor="let answer of data.answers">
                <nz-tag>{{ answer }}</nz-tag>
              </div>
            </td>
            <td>{{ data.score }}</td>
            <td class="ctrl-btns">
              <div nz-col>
                <button nz-button [nzSize]="'default'"><i nz-icon nzType="edit" nzTheme="outline"></i>&nbsp;Править</button>
              </div>
              <div nz-col>
                <button nz-button [nzSize]="'default'" nzDanger
                        nz-popconfirm [nzPopconfirmTitle]="popupDropMessages.title"
                        [nzOkText]="popupDropMessages.ok" [nzCancelText]="popupDropMessages.cancel"
                        (nzOnConfirm)="dropQuestion(data.id)"
                ><i nz-icon nzType="delete" nzTheme="outline"></i>&nbsp;Удалить</button>
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-collapse-panel>
  <nz-collapse-panel [nzHeader]="'Переходы между картами'" [nzActive]="false">
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="24">
        <nz-table #portalTable [nzData]="templatePortals" [nzFrontPagination]="false">
          <thead>
          <tr>
            <th nzWidth="60px" nzAlign="center">#</th>
            <th nzWidth="60px" nzAlign="center">Включен</th>
            <th nzWidth="100px">Иконка</th>
            <th nzWidth="200px">Переход из</th>
            <th nzWidth="200px">Переход на</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of portalTable.data; let i = index">
            <td nzAlign="center">{{ i+1 }}</td>
            <td><nz-switch [(ngModel)]="data.available"></nz-switch></td>
            <td>
              <img
                nz-image
                [nzSrc]="data.icon"
                [nzFallback]="fallback"
                alt="template picture"
                class="template-picture"
              >
            </td>
            <td>{{ data.movefrom }}</td>
            <td>{{ data.moveTo }}</td>
            <td class="ctrl-btns">
              <div nz-col>
                <button nz-button [nzSize]="'default'"><i nz-icon nzType="edit" nzTheme="outline"></i>&nbsp;Править</button>
              </div>
              <div nz-col>
                <button nz-button [nzSize]="'default'" nzDanger><i nz-icon nzType="folder-view" nzTheme="outline"></i>&nbsp;Удалить</button>
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
