.template-picture {
  max-height: 200px;
  max-width: 100%;
}

nz-input-group {
  .ant-input-group-addon {
    min-width: 120px;
    text-align: right;
  }
}

.mb-20px {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.prepend-label {
  padding: 8px 11px 6px;
  color: rgba(0,0,0,.85);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  background-color: #fafafa;
  border-radius: 2px;
  transition: all .3s;
  border: 1px solid #d9d9d9;
  border-right: 0;
  position: relative;
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
}

.game-type-select {
  width: calc(100% - 108.7px);
}
.game-type-select-with-button {
  width: calc(100% - 234px);
}

.save-gametype-btn {
  height: 30px;
  padding: 2px 15px;
}
