<nz-row nzJustify="center" [nzGutter]="[16, 16]" class="header">
  <nz-col [nzSpan]="16">
    <h3 nz-typography>ID игры: <span *ngIf="upcomingGamesList">{{ upcomingGamesList.title }}</span></h3>
    <h3 nz-typography>Начало:  <span *ngIf="upcomingGamesList">{{ upcomingGamesList.nextGameData | date: 'YYYY/MM/dd @ HH:mm' }}</span></h3>
  </nz-col>
</nz-row>

<nz-row nzJustify="center">
  <nz-col [nzSpan]="16">
    <nz-steps
      *ngIf="upcomingGamesList"
      [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
      <nz-step
        nzTitle="Анонс" nzDescription=""
        nzStatus="{{ upcomingGamesList.state.announce ? 'process' : 'finish' }}"
      ></nz-step>
      <nz-step
        nzTitle="Подготовка" nzDescription="Возможна регистрация."
        nzStatus="{{ upcomingGamesList.state.preparing ? 'process' : upcomingGamesList.state.announce ? 'wait' : 'finish' }}"
      ></nz-step>
      <nz-step
        nzTitle="В игре" nzDescription="Играем, отвечаем..."
        nzStatus="{{ upcomingGamesList.state.active ? 'process' :
                     upcomingGamesList.state.preparing ? 'wait' :
                     upcomingGamesList.state.announce ? 'wait' : 'finish' }}"
      ></nz-step>
      <nz-step
        nzTitle="Стоп" nzDescription="Игра завершена. Показ баллов."
        nzStatus="{{ upcomingGamesList.state.gameOver ? 'process' : 'wait' }}"
      ></nz-step>
    </nz-steps>
  </nz-col>
</nz-row>
