<div nz-row nzJustify="center" nzAlign="center" class="form-register">
  <form nz-form [formGroup]="formRegister" (ngSubmit)="registerByEmail()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Это не правильный адрес почты">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">Логин</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Логин обязателен">
        <input nz-input formControlName="username" id="username" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Пароль</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Пожалуйста, укажите пароль">
        <input nz-input type="password" id="password" formControlName="password" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="24" [nzOffset]="4">
        <button nz-button nzType="primary">Зарегистрироваться</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="24" [nzOffset]="4">
        <button nz-button nzType="primary" (click)="auth.loginWithPopup({screen_hint: 'signup'})">Войти с Auth0</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
