.game-loading {
  height: 100vh;
  width: 100%;

  nz-spin {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#playground-container {
  z-index: 50;
}
.developer-stat-window {
  z-index: 100;
  position: absolute;
  left: 20px;
  top: 20px;
  -webkit-box-shadow: 0px 0px 14px 10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 14px 10px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 14px 10px rgba(34, 60, 80, 0.2);

  .backcover {
    background: #ECECEC;
    padding:14px;
  }
}

#edit-question-form {
  .mt-8px {
    margin-top: 8px;
  }
}

.game-control-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px;
  background-color: #91c6d699;
  z-index: 100;
}

#users-scores {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  width: 300px;
  .ant-collapse-header {
    padding: 5px 16px !important;
  }
}

.user-game-info {
  .ant-card-body {
    padding: 0 8px;
  }
  .ant-ribbon {
    top: -12px !important;
  }
}

.ant-timeline {
  margin-top: 14px;

  li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    .ant-timeline-item-content {
      min-height: 0;
    }
  }
}

#stopgame-countdown {
  text-align: center;
}

.question-modal-wnd {

}
