<div class="game-loading" *ngIf="gameLoading">
  <nz-spin nzSimple [nzSize]="'large'" [nzSpinning]="gameLoading"></nz-spin>
</div>

<div *ngIf="socketAuth.account">
  <div class="game-control-panel" *ngIf="socketAuth.account.userRole.code !== 'gamer'">
    <nz-space>
        <button *nzSpaceItem nz-button nzType="primary" nzSize="small" (click)="route.navigate(['admin', 'dashboard'])">В админку</button>
        <button *nzSpaceItem nz-button nzType="primary" nzSize="small" (click)="socketAuth.auth0.logout()">Выйти</button>
    </nz-space>
  </div>
</div>

<div class="developer-stat-window" *ngIf="playgroundAdditionalRights.viewMapStat">
  <div class="backcover">
    <nz-card style="width:500px;" [nzBordered]="false" nzTitle="Статистические данные" [nzExtra]="extraTemplate">
      <nz-descriptions nzBordered [nzSize]="'small'">
        <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Код уровня'" *ngIf="this.currentStage">{{ this.currentStage.stageCode }}</nz-descriptions-item>
        <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Переход'" *ngIf="this.gameStages && this.currentStage">
          <button nz-button nz-dropdown [nzDropdownMenu]="menu">
            уровни
            <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <ng-container *ngFor="let stage of this.gameStages">
                <li nz-menu-item
                    *ngIf="stage.stageCode !== this.currentStage.stageCode"
                >
                  {{ stage.stageCode }}
                </li>
              </ng-container>
            </ul>
          </nz-dropdown-menu>
        </nz-descriptions-item>
        <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Количество баллов'" *ngIf="this.socketAuth.account.gameData">{{ this.socketAuth.account.gameData.score }}</nz-descriptions-item>
        <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Переходов на карте'" *ngIf="this.currentStagePortals">{{ this.currentStagePortals.length }}</nz-descriptions-item>
        <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Вопросов на карте'" *ngIf="this.currentStageQuestions">{{ this.currentStageQuestions.length }}</nz-descriptions-item>
        <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Невзятых вопросов'" *ngIf="this.currentStageQuestions">{{ this.currentStageQuestionsStatus.remain }}</nz-descriptions-item>
        <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Отвеченных вопросов'" *ngIf="this.currentStageQuestions">{{ this.currentStageQuestionsStatus.empty }}</nz-descriptions-item>
        <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Занятых вопросов'" *ngIf="this.currentStageQuestions">{{ this.currentStageQuestionsStatus.busy }}</nz-descriptions-item>
      </nz-descriptions>
      <ng-container *ngIf="this.devWindowCurrentQuestion">
        <nz-divider nzText="Текущий вопрос"></nz-divider>
        <nz-descriptions nzBordered [nzSize]="'small'">
          <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'ID'">{{ this.devWindowCurrentQuestion.id }}</nz-descriptions-item>
          <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Ответ'">{{ this.devWindowCurrentQuestion.answer }}</nz-descriptions-item>
          <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Баллов за ответ'">{{ this.devWindowCurrentQuestion.score }}</nz-descriptions-item>
          <nz-descriptions-item [nzSpan]="'3'" [nzTitle]="'Состояние'">
            <span *ngIf="this.devWindowCurrentQuestion.busy">Занят</span>
            <span *ngIf="this.devWindowCurrentQuestion.empty">Взят</span>
            <span *ngIf="!this.devWindowCurrentQuestion.empty && !this.devWindowCurrentQuestion.busy">Свободен</span>
          </nz-descriptions-item>
        </nz-descriptions>
      </ng-container>
    </nz-card>
  </div>
  <ng-template #extraTemplate>
    Режим редактирования: <nz-switch nzSize="small" [ngModel]="playgroundAdditionalRights.editModeEnabled" (ngModelChange)="switchEditMode($event)"></nz-switch>
    <br>[&nbsp;<span class="user-role">{{ socketAuth.account.userRole.title }}</span>&nbsp;]
  </ng-template>
</div>

<div *ngIf="!gameLoading">
  <nz-collapse id="users-scores" *ngIf="socketAuth.account.userRole.code === 'gamer'">
    <nz-collapse-panel
      [nzHeader]="'Баллы:'"
      [nzActive]="true"
      [nzShowArrow]="true"
    >
      <nz-timeline>
        <nz-timeline-item
          *ngFor="let user of userStatistics; let index = i"
        >
          <nz-ribbon nzText="{{ user.score }}" class="user-game-info">
            <nz-card>{{ user.username }}</nz-card>
          </nz-ribbon>

        </nz-timeline-item>
      </nz-timeline>
      <nz-divider></nz-divider>
      <nz-row [nzGutter]="16" id="stopgame-countdown">
        <nz-col [nzSpan]="24">
          <nz-countdown [nzValue]="countdown" [nzTitle]="'Стопигра через: '" (nzCountdownFinish)="emitStopGame()"></nz-countdown>
        </nz-col>
      </nz-row>

    </nz-collapse-panel>
  </nz-collapse>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="showDrawerEditQuestion"
  nzTitle="Внесение правок в вопрос"
  [nzFooter]="footerTpl"
  (nzOnClose)="closeEditWnd()"
  *ngIf="playgroundAdditionalRights.editQuestion"
>
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]="questionForm" id="edit-question-form">
    <input nz-input formControlName="id" id="id" hidden />
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="available">Доступен</nz-form-label>
      <nz-form-control [nzSm]="2" [nzXs]="24" nzErrorTip="">
        <nz-switch formControlName="available" id="available"></nz-switch>
      </nz-form-control>

      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="empty">Отвечен</nz-form-label>
      <nz-form-control [nzSm]="2" [nzXs]="24" nzErrorTip="">
        <nz-switch formControlName="empty" id="empty"></nz-switch>
      </nz-form-control>

      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="busy">Занят</nz-form-label>
      <nz-form-control [nzSm]="2" [nzXs]="24" nzErrorTip="">
        <nz-switch formControlName="busy" id="busy"></nz-switch>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item [ngSwitch]="currentQuestion !== null && currentQuestion.picture !== ''">
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="available">Изображение</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
        <ng-container *ngSwitchCase="true">
          <img
            nz-image
            width="200px"
            height="200px"
            [nzSrc]="currentQuestion.picture"
            alt=""
          />
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <nz-upload
            nzType="drag"
            [nzMultiple]="false"
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            (nzChange)="handleChange($event)"
          >
            <p class="ant-upload-text">Нажми или перенеси сюда изображение для загрузки</p>
            <p class="ant-upload-hint">
              Поддерживается только дна картинка
            </p>
          </nz-upload>
        </ng-container>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="question" class="mt-8px">Вопрос</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Вопрос не может быть пустым">
        <ckeditor [editor]="editor" formControlName="question"></ckeditor>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="answer">Ответ</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Вопрос не может быть пустым">
          <input nz-input formControlName="answer" id="answer" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="score">Баллов</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="">
        <nz-input-number formControlName="score" id="score" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
      </nz-form-control>
    </nz-form-item>

  </form>
  </ng-container>
  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="cancelChanges()">Отмена</button>
      <button nz-button nzType="primary" (click)="saveChanges()">Сохранить</button>
    </div>
  </ng-template>
</nz-drawer>

<div id="playground-container" (window:resize)="onResize($event)"></div>

<nz-modal
  [(nzVisible)]="modalInfoMapLoading"
  [nzFooter]="null"
  [nzClosable]="false"
  nzCentered
>
  <ng-container *nzModalContent>
    <nz-result nzStatus="info" nzTitle="Карта загружается....">
      <div nz-result-extra>
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </div>
    </nz-result>
  </ng-container>
</nz-modal>
