.ant-modal-footer {
  display: none;
}
form {
  margin: 0;
  outline: none;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
  color: #666;

  header {
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);
    font-size: 25px;
    font-weight: 300;
    color: #232323;
  }

  fieldset {
    display: block;
    padding: 25px 30px 5px;
    border: none;
    background: rgba(255,255,255,.9);

    section {
      margin-bottom: 20px;

      .button {
        position: relative;
        display: block;
      }

      i {
        color: #ccc;
      }

     input {
        display: block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        height: 39px;
        padding: 8px 10px;
        outline: none;
        border-width: 2px;
        border-style: solid;
        border-radius: 0;
        background: #fff;
        font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
        color: #404040;
        appearance: normal;
        -moz-appearance: none;
        -webkit-appearance: none;
      }
    }
  }

  footer {
    display: block;
    padding: 24px 30px 0;
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);

    //button {
    //  float: right;
    //  height: 39px;
    //  overflow: hidden;
    //  margin: 10px 0 0 20px;
    //  padding: 0 25px;
    //  outline: none;
    //  border: 0;
    //  font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    //  text-decoration: none;
    //  color: #fff;
    //  cursor: pointer;
    //
    //  &:after {
    //    content: '';
    //    display: table;
    //    clear: both;
    //  }
    //}
  }
}
