    <div nz-row nzJustify="center" nzAlign="center" class="form-register">
      <form nz-form [formGroup]="formRegister" (ngSubmit)="registerByEmail()">
          <header>Регистрация</header>
          <fieldset>
            <section>
              <nz-form-item>
                <nz-form-control nzSpan="24" nzErrorTip="Это не правильный адрес почты">
                  <input nz-input formControlName="email" id="email" placeholder="Email"/>
                </nz-form-control>
              </nz-form-item>
            </section>

            <section>
              <nz-form-item>
                <nz-form-control [nzSpan]="24" nzErrorTip="Логин обязателен">
                  <input nz-input formControlName="username" id="username" placeholder="Логин" />
                </nz-form-control>
              </nz-form-item>
            </section>

            <section>
              <nz-form-item>
                <nz-form-control [nzSpan]="24" nzErrorTip="Минимум 4 символа. Должны быть цифры, большие и маленькие буквы, а так же любой спецсимвол">
                  <input nz-input type="password" id="password" formControlName="password" placeholder="Пароль"/>
                </nz-form-control>
              </nz-form-item>
            </section>
          </fieldset>
          <footer>
            <nz-form-item nz-row class="register-area">
              <nz-form-control [nzSpan]="16">
                <button nz-button nzType="primary" (click)="registerByEmail()">Зарегистрироваться</button>
              </nz-form-control>
              <nz-form-control [nzSpan]="8">
                <button nz-button nzType="link" (click)="cancel()">Отмена</button>
              </nz-form-control>
            </nz-form-item>
          </footer>

        <div *nzModalFooter class="invisible"></div>
      </form>
    </div>

