<nz-page-header class="site-page-header" nzTitle="Участники текущей игры" nzSubtitle=""></nz-page-header>

<nz-table #players [nzData]="activeGameUsers">
  <thead>
    <tr>
      <th>#</th>
      <th>Команда</th>
      <th>Участник</th>
      <th>Баллы</th>
      <th>Текущая карта</th>
      <th>Вопрос</th>
      <th>Отвечено</th>
      <th>Попыток ответа</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players.data; index as i;" [attr.data-index]="i">
      <td>{{ i+1 }}</td>
      <td>{{ player.group === null ? "---" : player.group }}</td>
      <td>{{ player.username }}</td>
      <td>{{ player.score }}</td>
      <td>{{ player.gamemaptitle }}</td>
      <td [innerHTML]="player.question | safeHtml"></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</nz-table>
