<nz-row id="import">
  <nz-col [nzSpan]="16">
    <nz-row>
      <nz-col [nzSpan]="8">
        <nz-select id="import-game-title" [(ngModel)]="gameCode">
          <nz-option
            *ngFor="let game of gamesList"
            nzValue="{{ game.id }}" nzLabel="{{ game.title }}"
          ></nz-option>
        </nz-select>
      </nz-col>
      <nz-col>
        <nz-button-group [nzSize]="size" id="import-ctrl-btns">
          <button nz-button nzType="primary"
                  (click)="calcData()"
                  [disabled]="this.gameCode === undefined"
          >
            <i nz-icon nzType="calculator" nzTheme="outline"></i>Подсчитать
          </button>
          <button nz-button nzType="primary"
                  (click)="importData()"
                  [disabled]="!canImport"
          >
            <i nz-icon nzType="download" nzTheme="outline"></i> Импортировать
          </button>
        </nz-button-group>
      </nz-col>
    </nz-row>
    <nz-row *ngIf="isSpinning" id="import-info">
      <nz-col [nzSpan]="8">
        <nz-spin [nzSpinning]="isSpinning">
          <nz-alert [nzType]="'info'" [nzMessage]="'Работаем с Firestore'" [nzDescription]="currentStatus">
          </nz-alert>
        </nz-spin>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-col [nzSpan]="8">
          <nz-list nzBordered nzSize="small">
            <nz-list-header>Список прошедших игр</nz-list-header>
            <nz-list-item *ngFor="let game of app">{{ game.activeGame }} - @ {{ game.nextGameData| date: "YYYYMMdd" }}</nz-list-item>
          </nz-list>
      </nz-col>
      <nz-col>
        <nz-button-group [nzSize]="size" id="import-app-ctrl-btns">
          <button nz-button nzType="primary"
                  (click)="importAppList()"
                  [disabled]="!canImportAppList"
          >
            <i nz-icon nzType="download" nzTheme="outline"></i> Импортировать ЦУП игр
          </button>
          <button nz-button nzType="primary"
                  (click)="importMakedGamesList()"
                  [disabled]="!canImportAppList"
          >
            <i nz-icon nzType="download" nzTheme="outline"></i> Импортировать прошедшие игры
          </button>
        </nz-button-group>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>
