#import {
  margin: 20px;
  nz-row:not(:last-child) {
    margin-bottom: 20px;
  }
  #import-game-title {
    width: 100%;
  }

  #import-ctrl-btns, #import-app-ctrl-btns {
    margin-left: 20px;
  }

  #import-info {
    margin-top: 20px;
  }
}
