<div class="demo-loading" *ngIf="demoLoading">
  <nz-spin nzSimple [nzSize]="'large'" [nzSpinning]="demoLoading"></nz-spin>
</div>
<div id="demo-container"
     (window:resize)="onResize($event)"
>
</div>

<nz-modal
  [(nzVisible)]="showQuestionWindow"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzCentered]="true"
  nzWidth="600px"
>

  <ng-template #modalContent [ngClass]="'question-modal-wnd'">
    <div nz-row *ngIf="currentQuestion !== null">
      <div nz-col [nzSpan]="questionHasPicture ? 6 : 0">
        <img
          nz-image
          nzSrc="{{ currentQuestion.picture }}"
          alt=""
        >
      </div>
      <div nz-col [nzSpan]="questionHasPicture ? 16 : 24"
           [innerHTML]="currentQuestion.question | nzSanitizer"
      >
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <span *ngIf="answerCheckState.valid" class="text-left">
        <nz-alert nzType="success" nzMessage="Ответ засчитан =) , но в демо баллы не начисляются..." nzShowIcon></nz-alert>
    </span>
    <span *ngIf="answerCheckState.notValid" class="text-left">
        <nz-alert nzType="error" nzMessage="К сожалению, ответ неточный или неверный" nzShowIcon></nz-alert>
    </span>
    <nz-input-group
      *ngIf="answerCheckState.checking"
      nzAddOnBefore="Ответ: "
      [nzSuffix]="nzAddOnAfter"
      (keyup.enter)="checkAnswer()"
    >
      <input type="text" nz-input [(ngModel)]="userAnswer">
    </nz-input-group>
    <ng-template #nzAddOnAfter>
      <button nz-button nzType="primary" (click)="checkAnswer()" [nzSize]="'small'"
              *ngIf="userAnswer.length"
      >Проверить ответ</button>
    </ng-template>
  </ng-template>
</nz-modal>
