<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="{{ gameTitle }}" nzSubtitle="Просмотр вопросов"></nz-page-header>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="gameQuestions" [nzScroll]="{ x: '1100px' }">
      <thead>
      <tr>
        <th nzWidth="60px" nzAlign="center">#</th>
        <th nzWidth="100px" nzAlign="center">Включен</th>
        <th nzWidth="100px">Иконка</th>
        <th nzWidth="100px">Размеры иконки</th>
        <th nzWidth="100px">Картинка</th>
        <th nzWidth="100px">Позиция</th>
        <th nzWidth="500px">Вопрос</th>
        <th nzWidth="240px">Ответы</th>
        <th nzWidth="80px">Очки</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td nzAlign="center">{{ i+1 }}</td>
        <td nzAlign="center"><nz-switch [(ngModel)]="data.available"></nz-switch></td>
        <td>{{ data.questionIcon }}</td>
        <td>{{ data.iconHeight }} x {{ data.iconWidth }}</td>
        <td><img nz-image nzSrc="{{ data.picture }}" alt="" class="question-image"></td>
        <td>{{ data.posX }} x {{ data.posY }}</td>
        <td [innerHTML]="data.question | safeHtml"></td>
        <td>
          <div *ngFor="let answer of data.answers">
            <nz-tag>{{ answer }}</nz-tag>
          </div>
        </td>
        <td>{{ data.score }}</td>
        <td class="ctrl-btns">
          <div nz-col>
            <button nz-button [nzSize]="'default'"
                    nzTooltipTitle="Временно недоступно из данного места" nzTooltipPlacement="topCenter" nz-tooltip
            ><i nz-icon nzType="edit" nzTheme="outline"></i>&nbsp;Править</button>
          </div>
          <div nz-col>
            <button nz-button [nzSize]="'default'" nzType="default"
                    routerLink="/admin/dashboard/games/detail/{{ gameID }}/{{ gameStage }}/questions/edit"
            ><i nz-icon nzType="folder-view" nzTheme="outline"></i>&nbsp;Просмотр</button>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
