.content {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;

  .stats {
    nz-card {
      margin: 20px;
      border-radius: 20px;

      .icon {
        background-color: grey;
        width: 25%;
        height: 140px;

        i {
          width: 100%;
          font-size: 100px;
        }
      }

      .text {
        width: 75%;
        height: 140px;
      }
    }
  }

  .scores {
    background-color: #fff;
    border-radius: 20px;
    margin: 20px;

    .header {
      padding: 20px;
      font-size: 1.2em;
      font-weight: 700;
    }
  }

  .text-centered {
    text-align: center;
  }
}
.header {
  text-align: center;
}
nz-table {
  max-width: 800px;
  margin: 0 auto;
}
