<div class="content">
    <div nz-row class="stats">
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <nz-card nzTitle="Участники игры">
          <div nz-row>
            <div nz-card-grid class="icon" nz-col [nzXXl]="8" [nzXl]="10" [nzLg]="0" [nzMd]="10" [nzSm]="8" [nzXs]="12">
              <i nz-icon nzType="user" nzTheme="outline"></i>
            </div>
            <div nz-card-grid class="text" nz-col [nzXXl]="16" [nzXl]="14" [nzLg]="24" [nzMd]="14" [nzSm]="16" [nzXs]="12">
              <div nz-row>
                <div nz-col nzSpan="24">
                  Всего участников: {{ users.length }}
                </div>
              </div>
            </div>
          </div>
        </nz-card>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <nz-card nzTitle="Статистика вопросов">
          <div nz-row>
            <div nz-card-grid class="icon" nz-col [nzXXl]="8" [nzXl]="10" [nzLg]="0" [nzMd]="10" [nzSm]="8" [nzXs]="12">
              <i nz-icon nzType="question" nzTheme="outline"></i>
            </div>
            <div nz-card-grid class="text" nz-col [nzXXl]="16" [nzXl]="14" [nzLg]="24" [nzMd]="14" [nzSm]="16" [nzXs]="12">
              <div nz-row>
                <div nz-col nzSpan="24">
                  Всего: <span>{{ questions?.total}}</span>
                </div>
              </div>
              <div nz-row>
                <div nz-col nzSpan="24">
                  Взято: <span>{{ questions?.success }}</span>
                </div>
              </div>
              <div nz-row>
                <div nz-col nzSpan="24">
                  Не отвечено: <span>{{ questions?.failed }}</span>
                </div>
              </div>
            </div>
          </div>
        </nz-card>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <nz-card nzTitle="Статистика ответов">
          <div nz-row>
            <div nz-card-grid class="icon" nz-col [nzXXl]="8" [nzXl]="10" [nzLg]="0" [nzMd]="10" [nzSm]="8" [nzXs]="12">
              <i nz-icon nzType="check" nzTheme="outline"></i>
            </div>
            <div nz-card-grid class="text" nz-col [nzXXl]="16" [nzXl]="14" [nzLg]="24" [nzMd]="14" [nzSm]="16" [nzXs]="12">
              <div nz-row>
                <div nz-col nzSpan="24">
                  Попыток: <span>{{ answers?.total }}</span>
                </div>
                <div nz-col nzSpan="24">
                  Удачных: <span>{{ answers?.success }}</span>
                </div>
                <div nz-col nzSpan="24">
                  Быстрейший: <span>{{ answers?.quick }}</span>
                </div>
                <div nz-col nzSpan="24">
                  Неторопливый: <span>{{ answers?.slow }}</span>
                </div>
              </div>
            </div>

          </div>
        </nz-card>
      </div>
    </div>
    <div nz-row class="scores">
      <div nz-col nzSpan="24" class="header">
        Результаты игры
      </div>
      <div nz-col nzSpan="24">
        <nz-table #resultTable [nzData]="users" [nzShowPagination]="false" class="table">
          <thead>
            <tr>
              <th nzWidth="50px" class="text-centered"><b>Место</b></th>
              <th nzWidth="200px"><b>Команда</b></th>
              <th nzWidth="100px" class="text-centered"><b>Баллы</b></th>
              <th nzWidth="100px"><b>Просмотрено вопросов</b></th>
              <th nzWidth="100px"><b>Отвечено</b></th>
              <th><b>Неудачных ответов</b></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of resultTable.data; index as i">
              <td  class="text-centered">{{ i + 1}}</td>
              <td>{{ user.username }}</td>
              <td class="text-centered">{{ user.score }}</td>
              <td></td>
              <td class="text-centered">{{ user.success }}</td>
              <td>{{ user.failed }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
</div>
