<nz-page-header
  (click)="onBack()"
  class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Назад">
</nz-page-header>
<nz-result
  *ngIf="successfulAddedToSchedule"
  nzStatus="success"
  nzTitle="Игра успешно добавлена в расписание!"
  nzSubTitle="Шаблон с контентом скопирован."
>
  <div nz-result-extra>
    <button nz-button nzType="primary" (click)="onBack()">Отлично!</button>
    <button nz-button>WTF?</button>
  </div>
</nz-result>
<nz-result
  *ngIf="errorAddingToSchedule"
  nzStatus="500" nzTitle="Ошибка модификации расписания" nzSubTitle="Обратитесь к разработчику...">
  <div nz-result-extra>
    <button nz-button nzType="primary" (click)="onBack()">Вернуться...</button>
  </div>
</nz-result>
<div nz-row
     *ngIf="successfulAddedToSchedule === false && errorAddingToSchedule === false"
>
  <div nz-col [nzSpan]="11">
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-divider nzText="Добавление игры в расписание"></nz-divider>
      </div>
    </div>
    <form nz-form [formGroup]="addNewGameForm" class="login-form" (ngSubmit)="addGame()">
      <div nz-row>
        <div nz-col [nzSpan]="16">
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" nzRequired nzFor="activeGame">Игра</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="12" nzErrorTip="Какую игру включаем?">
              <nz-select formControlName="activeGame" id="activeGame" (ngModelChange)="onChooseGame($event)" [ngModel]="selectedGame">
                <nz-option
                  *ngFor="let game of gamesTitles"
                  nzValue="{{ game.id }}" nzLabel="{{ game.title }}"
                ></nz-option>
              </nz-select>
            </nz-form-control>
        </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="16">
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="12" nzRequired nzFor="nextGameData">Дата и время начала</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="12" nzErrorTip="Ну и как начнется игра без времени начала?">
              <nz-date-picker
                nzShowTime formControlName="nextGameData" id="nextGameData"
                (nzOnOk)="timeAvailable()"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="16">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="authModule">Модуль авторизации</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select formControlName="authModule" id="authModule">
                <nz-option nzValue="1" nzLabel="v1"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="16">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="profileModule">Модуль профиля</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <nz-select formControlName="profileModule" id="profileModule">
                <nz-option nzValue="1" nzLabel="v1"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row >
        <div nz-col [nzSpan]="16" style="text-align: right">
          <button nz-button class="schedule-game" [nzType]="'primary'" [disabled]="!canSchedule">{{ canScheduleBtnText }}</button>
        </div>
      </div>
    </form>
  </div>
  <div nz-col [nzSpan]="12" [nzOffset]="1">
    <nz-divider nzText="Статистика по игре"></nz-divider>
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="(chosenGameStats.makedGames | number)!" [nzTitle]="'Количество созданных игр'"></nz-statistic>
      </nz-col>
    </nz-row>
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="(chosenGameStats.maps | number)!" [nzTitle]="'Количество карт'"></nz-statistic>
      </nz-col>
    </nz-row>
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="(chosenGameStats.portals | number)!" [nzTitle]="'Количество порталов'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="6">
        <nz-statistic [nzValue]="(chosenGameStats.questions | number)!" [nzTitle]="'Количество вопросов'"></nz-statistic>
      </nz-col>
    </nz-row>
  </div>
</div>
