<nz-layout class="vh-100">
  <nz-sider nzWidth="400px" nzTheme="dark" *ngIf="windowWidth >= 600">
    <div nz-row nzJustify="center">
      <div nz-col>
        <h2 nz-typography class="header">Профиль игрока</h2>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div *ngIf="userProfile !== null" id="profile-data">
      <div nz-row nzJustify="center">
        <div nz-col>
          <nz-avatar
            [nzShape]="'square'"  [nzSize]="128" [nzIcon]="'user'"
            [nzSrc]="userProfile.avatar"
            (click)="changeAvatar()"
          ></nz-avatar>
        </div>
      </div>
      <div nz-row nzJustify="center">
        <div nz-col nzSpan="22">
          <nz-input-group nzAddOnBefore="Игрок">
            <input type="text" nz-input [(ngModel)]="userProfile.username" />
          </nz-input-group>
        </div>
      </div>
      <div nz-row nzJustify="center">
        <div nz-col nzSpan="22">
          <nz-input-group nzAddOnBefore="Email">
            <input type="text" nz-input [(ngModel)]="userProfile.email" />
          </nz-input-group>
        </div>
      </div>
      <div nz-row nzJustify="center">
        <div nz-col nzSpan="22">
          <nz-collapse>
            <nz-collapse-panel
              [nzHeader]="'Заявлен на игры:'"
              [nzActive]="true"
              [nzShowArrow]="true"
            >
              <nz-list nzBordered nzSize="small">
                <nz-list-item *ngFor="let game of gamesRegistered" nzNoFlex>
                  <ul nz-list-item-actions>
                    <nz-list-item-action>
                      {{ game.gamedata | date: 'YYYY.MM.dd' }}
                    </nz-list-item-action>
                  </ul>
                  {{ game.title }}
                </nz-list-item>
              </nz-list>
            </nz-collapse-panel>
          </nz-collapse>
        </div>
      </div>
      <div nz-row nzJustify="center" class="logout-ctrl-btn">
        <div nz-col nzSpan="22">
          <button nz-button [nzType]="'default'" nzBlock (click)="this.socketAuth.auth0.logout()">Выйти из профиля</button>
        </div>
      </div>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-content>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="8" nzXXl="8" *ngFor="let game of gamesList.next">
            <nz-card nzTitle="{{ game.gametitle }}"
                     [nzExtra]="countGamers"
                     [nzCover]="gameTitleScreen"
            >
              <button nz-button [nzType]="'primary'" nzBlock (click)="doGame(game)">
                <span *ngIf="game.canPlay">Войти в игру</span>
                <span *ngIf="!game.canPlay && gamesRegistered.length">
                  До начала:
                  <nz-countdown
                    [nzValue]="tillGame" *ngIf="tillGame !== undefined" (nzCountdownFinish)="enableJoinGame()"
                  ></nz-countdown>
                </span>
                <span *ngIf="!game.canPlay && !gamesRegistered.length">Зарегистрироваться</span>
              </button>
            </nz-card>
            <ng-template #countGamers>
              Участников: <nz-tag [nzColor]="'#2db7f5'">{{ gamers }}</nz-tag>
            </ng-template>
            <ng-template #gameTitleScreen>
              <img alt="Титульная картинка игры" src="{{ game.mapsrc }}">
            </ng-template>
          </div>
        </div>
    </nz-content>
  </nz-layout>
</nz-layout>
