.vh-100 {
  height: 100vh;
}

.header {
  color: #fff !important;
  padding: 20px 0 8px;
}

.ant-divider {
  border-color: grey;
  margin: 0;
}

#profile-data {
  .ant-row {
    margin-top: 20px;
  }

  nz-input-group {
    .ant-input-group-addon {
      min-width: 100px;
    }
  }
}

.ant-collapse-header {
  padding: 5px 16px !important;
}

.logout-ctrl-btn {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin-top: 0;
}
