<span *ngIf="needBeAuthed">
  <div
    *ngIf="(auth0.isAuthenticated$ | async ) === false"
  >
    <div nz-row class="container">
      <div nz-col nzSpan="24" class="center">
        <nz-empty [nzNotFoundContent]="null"></nz-empty>
        <button nz-button [nzSize]="'default'" nzType="default"
                (click)="loginUser()"
        >Авторизоваться</button>
        <nz-divider nzText="Или"></nz-divider>
        <button nz-button [nzSize]="'default'" nzType="default"
                (click)="registerUser()"
        >Зарегистрироваться</button>
      </div>
    </div>

<!--    <app-profile-register-->
<!--      [raiseForm]="viewRegisterForm"-->
<!--      (onTryRegister)="tryRegister($event)"-->
<!--    ></app-profile-register>-->

  </div>
  <div
      *ngIf="(auth0.isAuthenticated$ | async ) === true"
  >
    <router-outlet></router-outlet>
  </div>
</span>
<span *ngIf="!needBeAuthed">
  <router-outlet></router-outlet>
</span>
