.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.container {
  height: 100vh;
}

button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  height: 0;
  top: 34%;
  transform: translateY(-50%);
}
