<nz-page-header class="site-page-header" nzTitle="Список игр" nzSubtitle=""></nz-page-header>
<nz-list nzItemLayout="vertical">
  <nz-list-item *ngFor="let game of games; let i = index">
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <nz-tag [nzColor]="'#f50'"># {{ i+1 }}</nz-tag>
        <a routerLink="/admin/dashboard/games/detail/{{ game.id }}"><{{ game.gamecode }}> {{ game.gametitle }} ({{ game.gamestate | gameStateTranslate }})</a>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        Дата игры: {{ game.gamedata | date: 'YYYY.MM.dd @ HH:mm' }}<!-- item.description -->
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    <!-- item.content -->
    <ul nz-list-item-actions>
      <nz-list-item-action><i nz-icon nzType="question-circle" style="margin-right: 8px;"></i>
        <a routerLink="/admin/dashboard/games/detail/{{ game.id }}/stages">Карт: {{ game.countstages }}</a>
      </nz-list-item-action>
      <nz-list-item-action><i nz-icon nzType="exclamation-circle" style="margin-right: 8px;"></i>
        <a routerLink="/admin/dashboard/games/detail/{{ game.id }}/questions">Вопросов: {{ game.countquestions }}</a>
      </nz-list-item-action>
      <nz-list-item-action><i nz-icon nzType="appstore" style="margin-right: 8px;"></i>
        <a routerLink="/admin/dashboard/games/detail/{{ game.id }}/portals">Порталов: {{ game.countportals }}</a>
      </nz-list-item-action>
    </ul>
    <nz-list-item-extra>
      <img nz-image
           nzSrc="{{ game.mapsrc }}"
           width="160px" [nzFallback]="fallback" alt="1st stage map"
           class="first-stage-preview-map"
      >
    </nz-list-item-extra>
  </nz-list-item>
</nz-list>
