<nz-list nzGrid class="mt-20px">
  <nz-list nzItemLayout="horizontal" [nzLoading]="loading"></nz-list>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXXl]="8" [nzXl]="6" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24" *ngFor="let game of gamesTitles">
      <nz-list-item>
        <nz-card [nzTitle]="game.title" [nzExtra]="templateType">
          <div nz-row [nzGutter]="[16, 16]">
            <div nz-col nzSpan="24">
              <button nz-button nzType="primary" nzBlock (click)="createUsingTemplate(game.id)"><i nz-icon nzType="plus" nzTheme="outline"></i>Использовать</button>
            </div>
          </div>
          <div nz-row [nzGutter]="[16, 16]">
            <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="12">
              <button nz-button nzBlock routerLink="/admin/dashboard/games/templates/edit/{{ game.id }}">Править</button>
            </div>
            <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="12">
              <button nz-button nzBlock nzType="primary" nzDanger
                      nz-popconfirm
                      (nzOnConfirm)="dropTemplate(game.id)"
                      nzPopconfirmTitle="Уверены, что есть необходимость удалить данный шаблон?"
                      (nzOnCancel)="cancel()"
                      [nzOkText]="'Да, удалить'"
                      [nzCancelText]="'Оставить'"
                      nzPopconfirmPlacement="bottomRight"
              >Удалить</button>
            </div>
          </div>
        </nz-card>
        <ng-template #templateType>
          <nz-tag [nzColor]="'magenta'">{{ game.type }}</nz-tag>
        </ng-template>
      </nz-list-item>
    </div>
  </div>
</nz-list>
<div nz-row nzJustify="end">
  <div nz-col>
    <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" routerLink="/admin/dashboard/games/templates/add"
    >
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i> Создать
    </button>
  </div>
</div>
