<nz-page-header class="site-page-header" nzTitle="Список зарегистрированных пользователей" nzSubtitle=""></nz-page-header>

<div nz-row [nzGutter]="24" *ngIf="roles.length">
  <div nz-col [nzXXl]="8" [nzXl]="12" [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXs]="24"
       *ngFor="let role of roles;">
    <nz-divider nzPlain [nzText]="role.title"></nz-divider>
    <nz-list nzBordered>
      <div *ngFor="let user of users">
        <nz-list-item *ngIf="user.role === role.id">
          <nz-list-item-meta
            [nzAvatar]="user.avatar"
            [nzDescription]="user.email"
          >
            <nz-list-item-meta-title>
              {{ user.username }}
            </nz-list-item-meta-title>
          </nz-list-item-meta>
          <nz-select [(ngModel)]="user.role" (ngModelChange)="changeUserRole(user)" [nzDisabled]="user.email === 'ch3rnov.denis@gmail.com'">
            <nz-option *ngFor="let userRole of roles"
                       [nzValue]="userRole.id"
                       [nzLabel]="userRole.title"
            >
            </nz-option>
          </nz-select>
        </nz-list-item>
      </div>
    </nz-list>
  </div>
</div>
