<nz-layout>
  <nz-sider nzWidth="240px" nzTheme="dark">
    <div class="logo"></div>
    <ul nz-menu nzMode="inline" style="width: 240px;" [nzTheme]="'dark'">
      <li nz-menu-item routerLink="/admin/dashboard">Главная</li>
      <li nz-submenu nzOpen nzTitle="Расписание" nzIcon="mail">
        <ul>
          <li
            *ngIf="upcomingGamesList.length"
            nz-menu-item nzSelected routerLink="/admin/dashboard/game-control">Текущая игра</li>
          <li nz-menu-item  routerLink="/admin/dashboard/schedule">Список</li>
          <li nz-menu-item routerLink="/admin/dashboard/schedule/past">Просмотр прошедших</li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Пользователи" nzIcon="user">
        <ul>
          <li nz-menu-item routerLink="/admin/dashboard/users">Активная игра</li>
          <li nz-menu-item routerLink="/admin/dashboard/users/list">Список</li>
          <li nz-menu-item routerLink="/admin/dashboard/users/settings">Настройки</li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Игры" nzIcon="play-circle">
        <ul>
          <li nz-menu-item routerLink="/admin/dashboard/games/add">Создать</li>
          <li nz-menu-item routerLink="/admin/dashboard/games/list">Список</li>
          <li nz-menu-item routerLink="/admin/dashboard/games/templates">Шаблоны</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="База Данных" nzIcon="database">
        <ul>
          <li nz-menu-item routerLink="/admin/dashboard/bd">Статистика</li>
          <li nz-menu-item routerLink="/admin/dashboard/bd/import">Импорт из Firestore</li>
          <li nz-menu-item routerLink="/admin/dashboard/bd/export">Экспорт в ...</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li *ngIf="(auth0.isAuthenticated$ | async ) === false"
            nz-menu-item
            (click)="registerUser()">Регистрация</li>
        <li *ngIf="(auth0.isAuthenticated$ | async ) === false"
            nz-menu-item
            (click)="auth0.loginWithPopup({screen_hint: 'login'})">Авторизация</li>
        <li *ngIf="(auth0.isAuthenticated$ | async ) === true"
            nz-menu-item
            (click)="router.navigate(['playground'])">В playground</li>
        <li *ngIf="userAccount" nz-menu-item nzDisabled> | </li>
        <li *ngIf="(auth0.isAuthenticated$ | async ) === true"
            nz-menu-item
            (click)="auth0.logout()">Выйти</li>
        <li *ngIf="userAccount" nz-menu-item nzDisabled> | </li>
        <li *ngIf="userAccount"
            nz-menu-item
        ><span *ngIf="userAccount.userRole !== null">{{ userAccount.userRole.title }}</span></li>
        <li *ngIf="userAccount"
            nz-menu-item
        >{{userAccount.username }}</li>
      </ul>
    </nz-header>
    <nz-content class="inner-content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>(c) Ratatosk Studio</nz-footer>
  </nz-layout>
</nz-layout>
