<div nz-row>
  <div nz-col nzSpan="12">
    <nz-divider nzText="Upcoming ({{ upcomingGamesList.length }})"></nz-divider>
    <div nz-row nzJustify="center" [ngStyle]="{marginBottom: '12px'}">
      <div nz-col nzXs="6" nzXl="6" nzLg="6" nzMd="6"  nzSm="12">
        <button nz-button nzType="primary" [nzSize]="size" nzBlock routerLink="/admin/dashboard/schedule/add">
          <i nz-icon nzType="plus-square" nzTheme="twotone"></i>Запланировать
        </button>
      </div>
    </div>
    <div *ngFor="let game of upcomingGamesList">
      <nz-card nzHoverable
               [nzCover]="coverTemplate"
               [nzActions]="[settings, edit, drop]"
               class="upcoming-game-card"
      >
        <nz-card-meta nzTitle="{{ game.title }}" nzDescription="{{ game.nextGameData | date: 'YYYY.MM.dd @ HH:mm' }}"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="Лого игры" src="/assets/event-logo-template.jpg" />
      </ng-template>
      <ng-template #settings>
        <i nz-icon nzType="setting"></i>
      </ng-template>
      <ng-template #edit>
        <i nz-icon nzType="edit"></i>
      </ng-template>
      <ng-template #drop>
        <i nz-icon nzType="delete" nzTheme="outline"></i>
      </ng-template>
    </div>
  </div>
  <div nz-col nzSpan="10" nzOffset="1">
    <nz-divider nzText="Прошедшие ({{ gamesList.length }})"></nz-divider>
    <ul nz-list [nzDataSource]="gamesList" nzBordered nzSize="large" class="past-games-list">
      <li nz-list-item *ngFor="let game of gamesList" nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a (click)="editThis()">Результат</a>
          </nz-list-item-action>
          <nz-list-item-action>
            <a (click)="editThis()">Статистика</a>
          </nz-list-item-action>
        </ul>
        {{ game.nextGameData | date: 'YYYY.MM.dd @ HH:mm' }} - {{ game.title }} <{{ game.code }}>
      </li>
    </ul>
  </div>
</div>
