<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="{{ gameTitle }}" nzSubtitle="Просмотр перезодов между уровнями"></nz-page-header>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="gamePortals">
      <thead>
      <tr>
        <th nzWidth="60px" nzAlign="center">#</th>
        <th nzWidth="100px" nzAlign="center">Включен</th>
        <th nzWidth="100px">Иконка</th>
        <th nzWidth="100px">Переход в</th>
        <th nzWidth="200px">Позиция</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td nzAlign="center">{{ i+1 }}</td>
        <td nzAlign="center"><nz-switch [(ngModel)]="data.available"></nz-switch></td>
        <td>{{ data.icon }}</td>
        <td>{{ data.moveTo }}</td>
        <td>{{ data.posX }} x {{ data.posY }}</td>
        <td class="ctrl-btns">
          <div nz-col>
            <button nz-button [nzSize]="'default'"
                    nzTooltipTitle="Временно недоступно из данного места" nzTooltipPlacement="topCenter" nz-tooltip
            ><i nz-icon nzType="edit" nzTheme="outline"></i>&nbsp;Править</button>
          </div>
<!--          <div nz-col>-->
<!--            <button nz-button [nzSize]="'default'" nzType="default"-->
<!--                    routerLink="/admin/dashboard/games/detail/{{ gameID }}/{{ gameStage }}/portals/edit"-->
<!--            ><i nz-icon nzType="folder-view" nzTheme="outline"></i>&nbsp;Просмотр</button>-->
<!--          </div>-->
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
