<div nz-row *ngIf="currentQuestion !== null">
  <div nz-col [nzSpan]="questionHasPicture ? 6 : 0" style="padding: 8px">
    <img
      nz-image
      nzSrc="{{ currentQuestion.picture }}"
      alt=""
      style="width: 100%;"
    >
  </div>
  <div nz-col [nzSpan]="questionHasPicture ? 16 : 24"
       [innerHTML]="currentQuestion.question | safeHtml"
       style="padding: 8px"
  >
  </div>
</div>
<div *nzModalFooter>
  <span *ngIf="answerCheckState.valid" class="text-left">
        <nz-alert nzType="success" nzMessage="Ответ засчитан =)" nzShowIcon></nz-alert>
    </span>
  <span *ngIf="answerCheckState.notValid" class="text-left">
        <nz-alert nzType="error" nzMessage="К сожалению, ответ неточный или неверный" nzShowIcon></nz-alert>
    </span>
  <nz-input-group
    *ngIf="answerCheckState.checking"
    nzAddOnBefore="Ответ: "
    [nzSuffix]="nzAddOnAfter"
    (keyup.enter)="checkAnswer()"
  >
    <input type="text" nz-input [(ngModel)]="userAnswer">
  </nz-input-group>
  <ng-template #nzAddOnAfter>
    <button nz-button nzType="primary" (click)="checkAnswer()" [nzSize]="'small'"
            *ngIf="userAnswer?.length"
    >Проверить ответ</button>
  </ng-template>
</div>
