.first-stage-preview-map {
  width: 100%;
}

.calendar {
  width: 300px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.ctrl-btns {
  button {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
