<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="{{ gameTitle }}" nzSubtitle=""></nz-page-header>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="10" nzOffset="4">
    <img
        *ngIf="gameDetails !== null"
         nz-image
         nzSrc="{{ gameDetails.mapsrc }}"
         [nzFallback]="fallback" alt="1st stage map"
         class="first-stage-preview-map"
    >

  </div>
  <div nz-col nzSpan="6">
    <div class="calendar" [ngStyle]="{}">
      <nz-calendar [(ngModel)]="gameDate"
                   [nzFullscreen]="false"
                   (nzSelectChange)="onValueChange($event)"
                   (nzPanelChange)="onPanelChange($event)"></nz-calendar>
    </div>
  </div>
</div>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-divider nzOrientation="left" nzText="Информация по задействованным вопросам"></nz-divider>
    <nz-table #basicTable [nzData]="gameDetailsShortQuestions">
      <thead>
      <tr>
        <th>#</th>
        <th>Название карты</th>
        <th>Код карты</th>
        <th>Количество вопросов</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.code }}</td>
        <td>{{ data.countquestions }}</td>
        <td class="ctrl-btns">
          <button nz-button [nzSize]="'default'"
                  nzTooltipTitle="Временно недоступно из данного места" nzTooltipPlacement="topCenter" nz-tooltip
          ><i nz-icon nzType="edit" nzTheme="outline"></i>&nbsp;Править</button>
          <button nz-button [nzSize]="'default'" nzType="default"
                  routerLink="/admin/dashboard/games/detail/{{ gameDetails.id }}/{{ data.code }}/questions"
          ><i nz-icon nzType="folder-view" nzTheme="outline"></i>&nbsp;Просмотр</button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-divider nzOrientation="left" nzText="Информация по задействованным переходам"></nz-divider>
    <nz-table #basicTable [nzData]="gameDetailsShortPortals">
      <thead>
      <tr>
        <th>#</th>
        <th>Название карты</th>
        <th>Код карты</th>
        <th>Количество переходов с карты</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.code }}</td>
        <td>{{ data.countportals }}</td>
        <td class="ctrl-btns">
          <button nz-button [nzSize]="'default'"
                  nzTooltipTitle="Временно недоступно из данного места" nzTooltipPlacement="topCenter" nz-tooltip
          ><i nz-icon nzType="edit" nzTheme="outline"></i>&nbsp;Править</button>
          <button nz-button [nzSize]="'default'" nzType="default"
                  routerLink="/admin/dashboard/games/detail/{{ gameDetails.id }}/{{ data.code }}/portals"
          ><i nz-icon nzType="folder-view" nzTheme="outline"></i>&nbsp;Просмотр</button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-divider nzOrientation="left" nzText="Статистика по взятым вопросам"></nz-divider>
  </div>
</div>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-divider nzOrientation="left" nzText="Статистика по участникам"></nz-divider>
  </div>
</div>

