<nz-page-header class="site-page-header" nzTitle="Настройки"></nz-page-header>

<nz-divider nzPlain nzText="Роли (права доступа)" nzOrientation="left"></nz-divider>
<div nz-row class="ml-20px mr-20px" *ngIf="roles !== null">
  <div nz-col>
    <nz-list nzBordered nzSize="small">
      <nz-list-item *ngFor="let role of roles; let i = index">
        <form nz-form [nzLayout]="'inline'">
          <nz-form-item>
            <nz-form-label># {{ i+1 }} </nz-form-label>
            <nz-form-control nzErrorTip="Укажите название роли" [nzSm]="20" [nzXs]="24">
              <nz-input-group nzPrefixIcon="user">
                <input nz-input placeholder="Название роли (например: Модератор)" value="{{ role.title}}"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Укажите код роли" [nzSm]="20" [nzXs]="12">
              <nz-input-group nzPrefixIcon="user">
                <input nz-input placeholder="Код роли (например: EDITOR)" value="{{ role.code }}"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzDanger (click)="dropRole($event, role.id)" >Удалить</button>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="dashed" (click)="setDefaultRole($event, role.id)" [disabled]="role.isdefault">По умолчанию</button>
            </nz-form-control>
          </nz-form-item>
        </form>

      </nz-list-item>
      <nz-list-item>
        <form nz-form [nzLayout]="'inline'" [formGroup]="rolesFG" (ngSubmit)="addRole()">
          <nz-form-item>
            <nz-form-label># {{ roles.length + 1 }} </nz-form-label>
            <nz-form-control nzErrorTip="Укажите название роли" [nzSm]="20" [nzXs]="24">
              <nz-input-group nzPrefixIcon="user">
                <input formControlName="title" nz-input placeholder="Название роли (например: Модератор)" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Укажите код роли" [nzSm]="20" [nzXs]="12">
              <nz-input-group nzPrefixIcon="user">
                <input formControlName="code" nz-input placeholder="Код роли (например: EDITOR)" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" [disabled]="!rolesFG.valid">Добавить</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-list-item>
    </nz-list>
  </div>
</div>
